# Project exclude paths
*.iws

/.idea/gradle.xml
/.idea/libraries
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml

/.idea/mongoSettings.xml
/build